<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div id="root" class="wrap">
        <div class="key">
            <h1 class="key__help-text">Press a key to get its keycode!</h1>
        </div>
    </div>
</body>

</html>
